:root {
  /*pallete*/
  --colone: #2d2d2a;
  --coltwo: #353831;
  --colthree: #38423b;
  --colfour: #20fc8f;
  --colfive: #d6fff6;

  /*other vars*/
  --sidebarsize: 250px;
}
html {
  scroll-behavior: smooth;
}
/*
*page Components
*/

.Intro{
  #margin-left: var(--sidebarsize);
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: var(--sidebarsize);
  height: auto;
  width: auto;
  background-color: var(--colfive);
  color: var(--colone);
}
.CV{
  #margin-left: var(--sidebarsize);
  padding-left: var(--sidebarsize);
  padding-top: 20%;
  padding-bottom: 20%;
  height: auto;
  width: auto;
  background-color: var(--colfour);
  color: var(--colone);
}

space{
  padding: 20px 20px 20px 20px;
}

cvLink{
  border-radius: 15px 50px;
background: var(--colone);
padding: 20px 20px 20px 20px;
width: auto;
height: auto;
vertical-align: top;
display: inline-block;
text-align: center;
color: var(--colfive);
}
textCV{
   display: block;
   padding: 2%  2%  2%  2%;
}
.Links{
  #margin-left: var(--sidebarsize);
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: var(--sidebarsize);
  height: auto;
  width: auto;
  background-color: var(--colthree);
  color: var(--colfive);
}
.OtherStuff{
  #margin-left: var(--sidebarsize);
  padding-left: var(--sidebarsize);
  padding-top: 20%;
  padding-bottom: 20%;
  height: auto;
  width: auto;
  background-color: var(--colfive);
  color: var(--colone);
}


/*
* Sidebar
*/
.Sidebar{
  margin: 0;
  padding: 0;
  width: var(--sidebarsize);
  background-color: var(--coltwo);
  color: var(--colfour);
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.Sidebar a{
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: var(--colfive);
display: block;
}
.LinksScroll {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Sidebar a:hover{

color: var(--colfive);
background-color: var(--coltwo);
animation-duration: 0.8s;
animation-fill-mode: forwards;
animation-name: fade;
}

@keyframes fade{
0% {background-color: var(--coltwo); color: var(--colfive);}
75% { color: var(--colfour); box-shadow: inset var(--sidebarsize) 0 0 0 var(--colone);}
80%{color: var(--colfour); box-shadow: inset var(--sidebarsize) 0 0 0 var(--colone); transform: translateY(0px);}
90%{color: var(--colfour); box-shadow: inset var(--sidebarsize) 0 0 0 var(--colone); transform: translateY(-10px);}
100%{color: var(--colfour); box-shadow: inset var(--sidebarsize) 0 0 0 var(--colone); transform: translateY(0px);}
}
.cPP{
  padding-top: 5%;
width: 75%;
height: auto;
border-radius: 50%;
}
.pdf{
  height: 100px;

}
